<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation</title>
    <link rel="stylesheet" href="stylesheets/app.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
  
    <div class="row">
      <div class="large-4 large-centered columns">
      <h1>BIRD WATCH</h1>
      </div>
    </div>
      <div class="row">
        <div class="large-4 large-centered columns">
          <form class="form">
            <h3>Enter your zipcode:</h3> <input type="text" zip="location"><br>
            <button class="submit">Submit</button>
          </form>
        </div>
          <br></br>
        <div class="large-4 large-centered columns">
          <h3>OR</h3>
        </div>
          <br></br>
        <div class="large-4 large-centered columns">
          <h3 class="location">Select your location on the map.</h3>
        </div>
      </div>
     
      <div class="row">
        <div class="large-8 large-centered columns">
          <img src="http://2.bp.blogspot.com/-C3L7c1Y1ck4/UZOk1ldMiBI/AAAAAAAACs4/KtymYa4tM78/s1600/Screenshot+2013-05-15+at+12.38.58+AM.jpg">
        </div>
      </div> 
    </nav>
  </div>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
